/*#323237 #FFF4D7  #D6DBE1*/



/* Home */
.title{
	font-size: 45px;
	font-weight: bold;
	font-family: 'Sonsie One', cursive;
	text-align: center;
	color: #323237;
	background-color: #FFF4D7;
	height: 100px;
}

/* About */


/* Speech Tools */


/* Composition Tools */
