/*text:#323237 Backround:#FFF4D7  Tabs:#392A1E border:#BC5202*/
body, html{
	padding: 0;
	margin: 0;
}
/* Home */
.title{
	font-size: 45px;
	font-weight: bold;
	font-family: 'Sonsie One', cursive;
	text-align: center;
	color: #323237;
	background-color: #FFF4D7;
	height: 100px;
	border-style: ridge;
	border-color: #BC5202;
	border-width: 5px;
}

.button-1{
	background-color: #392A1E;
	height: 75px;
	text-align: center;
	padding-top: 20px;
	border-style: inset;
	border-color: #BC5202;
	border-width: 5px;
	margin-top: 15px;
}

.linkStyles{
	font-family: impact;
	color: #FFF4D7;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
}

.linkStyles:hover{
	text-decoration: none;
	color: white;
}

.hoverStyle{
	background-color: #4C4C4C;
	color: white;
	text-align: center;
	height: 75px;
	font-size: 25px;
	padding-top: 20px;
	margin-top: 15px;
	border-style: inset;
	border-color: darkgray;
	border-width: 5px;
}

.marginImage{
	margin-top: 15px;
	border: ridge;
	border-width: 5px;
	border-color: #BC5202;
}

.VRC{
	text-align: center;
	font-family: 'Sonsie One', cursive;
	font-size: 20px;
	background-color: #392A1E;
	border: ridge;
	border-width: 5px;
	border-color: #BC5202;
	margin-top: 15px;
	color: #FFF4D7;
	margin-bottom: 5px;
	margin-left: 100px;
}

.CEO{
	font-family: impact;
	font-size: 20px;
	background-color: #FFF4D7;
	border-style: ridge;
	border-color: #BC5202;
	border-width: 4px;
	text-align: center;
	width: 450px;
	margin-top: 10px;
}

.reviews{
	font-family: fantasy;
	font-size: 18px;
}

.reviewsT{
	font-family: fantasy;
	font-size: 18px;
}

.reviewsH{
	font-family: fantasy;
	font-size: 18px;
}

.reviewsF{
	font-family: fantasy;
	font-size: 18px;
}

#reviews{
	background-color: #FFF4D7;
	border-style: ridge;
	border-color: #BC5202;
	border-width: 4px;
	margin-bottom: 5px;
	padding: 3px;
	margin-left: 100px;
}

.mouse{
	background-color: white;
	border: ridge;
	border-color: #323237;
	border-width: 3px;
	text-align: center;
	height: 85px;
	margin-top: 30px;
	padding-top: 5px;
}

.foot{
	background-color: #392A1E;
	border-style: inset;
	border-color: #BC5202;
	border-width: 4px;
	height: 50px;
	text-align: center;
	padding-top: 15px;
	margin-top: 30px;
	color: white;
}

.linkStyle2{
	color: #FFF4D7;
	text-decoration: none;
}

.linkStyle2:hover{
	text-decoration: none;
	color: white;
}

.hoverStyle2{
	background-color: #4C4C4C;
	border-style: inset;
	border-color: darkgray;
	border-width: 4px;
	height: 50px;
	text-align: center;
	padding-top: 15px;
	margin-top: 30px;
	color: white;
}

.hoverStyle2:hover{
	text-decoration: none;
	color: white;
}

.Ads{
	color: silver;
	font-size: 36px;
	font-family: 'Sonsie one', cursive;
}

.Ads:hover{
	text-decoration: none;
	color: #323237;
}

/* About */
.about{
	font-size: 18px;
	font-family: Lucida;
	color: #323237;
	margin-top: 15px;
}

.bold{
	margin-top: 30px;
	font-size: 18px;
	font-family: Lucida;
	color: #323237;
	font-weight: bold;
}

/* Speech Tools */

.videoControl {
	border: 1px solid #000508;
	background: #cfccae;
	background: -webkit-gradient(linear, left top, left bottom, from(#dfe6ca), to(#cfccae));
	background: -webkit-linear-gradient(top, #dfe6ca, #cfccae);
	background: -moz-linear-gradient(top, #dfe6ca, #cfccae);
	background: -ms-linear-gradient(top, #dfe6ca, #cfccae);
	background: -o-linear-gradient(top, #dfe6ca, #cfccae);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #3d3d3d;
	font-size: 14px;
	font-family: 'Sonsie one', cursive;
	text-decoration: none;
	vertical-align: middle;
}

.videoControl:hover {
	border-color: #5b6d78;
	background: #5b6d78;
	color: #ccc;
}

.videoControl:disabled {
	cursor: not-allowed;
}

#myVideo {
	margin-top: 2%;
	transform: rotateY(180deg);
}

#text {
	background: #cfccae;
	background: -webkit-gradient(linear, left top, left bottom, from(#dfe6ca), to(#cfccae));
	background: -webkit-linear-gradient(top, #dfe6ca, #cfccae);
	background: -moz-linear-gradient(top, #dfe6ca, #cfccae);
	background: -ms-linear-gradient(top, #dfe6ca, #cfccae);
	background: -o-linear-gradient(top, #dfe6ca, #cfccae);
	font-family: 'Sonsie one', cursive;
	color: black;
	border: 2px solid #392A1E;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#textContainer {
	margin-top: 5%;
	margin-left: 11%;
	height: 50%;
}

.vjs-control-bar {
	transform: rotateY(180deg);
}

#control {
	margin-top: 1%;
}

/* Composition Tools */
.theAnswer{
	border: ridge;
	border-color: #BC5202;
	margin-top: 20px;
	font-size: 16px;
	font-family: cursive;
}

.comp{
	font-size: 18px;
	font-family: Lucida;
	color: #323237;
	margin-top: 15px;
}

.bold{
	margin-top: 30px;
	font-size: 18px;
	font-family: Lucida;
	color: #323237;
	font-weight: bold;
}

.Booton{
	border: 1px solid #000508;
	background: #cfccae;
	background: -webkit-gradient(linear, left top, left bottom, from(#dfe6ca), to(#cfccae));
	background: -webkit-linear-gradient(top, #dfe6ca, #cfccae);
	background: -moz-linear-gradient(top, #dfe6ca, #cfccae);
	background: -ms-linear-gradient(top, #dfe6ca, #cfccae);
	background: -o-linear-gradient(top, #dfe6ca, #cfccae);
	padding: 5px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #3d3d3d;
	font-size: 16px;
	font-family: 'Sonsie one', cursive;
	text-decoration: none;
	vertical-align: middle;
	margin-top: 18px;
	text-align: center;
	height: 60px;
	padding-top: 18px;
}

.linkBooton{
	color: #323237;
}

.linkBooton:hover{
	text-decoration: none;
	color: white;
}

.italic{
	font-size: 18px;
	font-family: Lucida;
	color: #323237;
	font-style: italic;
	margin-left: 15px;
}